<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div *ngFor="let project of projects" fxFlex="25%">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title class="text-center">{{project.name}}</mat-card-title>
        </mat-card-header>
        <img [src]="getProjectImage(project)" height="200px" mat-card-image width="200px">
        <mat-card-content>
          <p>
            {{project.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button color="primary" mat-flat-button>Подробнее</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
