.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

.create-button {
  position: fixed;
  bottom: 2%;
  right: 1%;
}

.description {
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
