<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div *ngFor="let project of projects" fxFlex="20%">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title class="text-center">{{project.name}}</mat-card-title>
        </mat-card-header>
          <img style="object-fit: cover;height: 256px;" [src]="setPicture(project)" mat-card-image>
        <mat-card-content style="height: 47px">
          <div class="description">
            <a>{{project.description}}</a>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button color="primary" mat-flat-button (click)="navigateToProject(project.id)">Подробнее</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="create-button">
    <button mat-fab color="primary" aria-label="Создать проект" (click)="createProject()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
