<div class="padding justify-content-center ">
  <div class="row container d-flex justify-content-center ">
    <div class="col-xl-11 col-md-12">
      <div class="card user-card-full">
        <div class="">
          <div class="col-sm-12 bg-c-lite-green">
            <!--граидент длина-->
            <div class="card-block text-center text-white col-sm-20">
              <img class="round" [src]="setPicture()" width="350"
                   height="320"
                   alt="Project-Profile-Image">
              <h3 class="f-w-600">Проект</h3>
              <p>{{project.name}}</p><i class="mdi mdi-square-edit-outline feather icon-edit  f-18"></i>
              <div class="buttons-admin" *ngIf="project.active && isAdmin">
                <button mat-raised-button color="basic" class="button-admin" (click)="look()">Посмотреть заявки</button>
                <button mat-raised-button color="basic" class="button-admin" (click)="edit()">Редактировать</button>
                <button mat-raised-button color="basic" class="button-admin" (click)="complete()">Завершить</button>
              </div>
              <div *ngIf="project.active
                  && !isAdmin
                  && !isParticipant
                  && isSubscribe">
                <button mat-raised-button color="basic" style="width: 50%" (click)="subscribe()">Подать заявку</button>
              </div>
              <br>
              <div *ngIf="isAdmin
              || isParticipant">
                <button mat-raised-button color="basic" (click)="openFilesOfProject()">Файлы проекта
                  <mat-icon>folder_open</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="col-sm-20 justify-content-center">
            <div class="card-block">
              <h2 class="m-b-20 p-b-5 b-b-default f-w-600">Описание</h2>
              <h6 class="m-b-20 p-b-5 b-b-default f-w-600">{{project.description}}</h6>
              <div class="row">
                <div class="col-sm-6">
                  <p class="m-b-10 f-w-600">Статус проекта</p>
                  <h6 class="text-muted f-w-400">{{project.currentLifecycle}}</h6>
                </div>
                <div class="col-sm-6">
                  <p class="m-b-10 f-w-600">Организация</p>
                  <a href="profile/organization/{{organization.id}}"
                     class="text-muted f-w-400 text-decoration-none">
                    {{organization.name}}
                  </a>
                </div>
              </div>
              <h3 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Дополнительная информация</h3>
              <div class="row">
                <div class="col-sm-6">
                  <p class="m-b-10 f-w-600">Администраторы проекта</p>
                  <h6 class="text-muted f-w-400" *ngFor="let userAdmin of userAdmins">
                    <a href="/profile/user/{{userAdmin.id}}"
                       class="text-decoration-none">{{userAdmin.firstName}} {{userAdmin.lastName}}</a>
                    <button mat-mini-fab
                            color="primary"
                            aria-label="Исключить из администраторов"
                            *ngIf="project.active && isAdmin && !isLast"
                            (click)="deleteAdmin(userAdmin)"
                            class="icon-button">
                      <mat-icon inline="true">delete</mat-icon>
                    </button>
                  </h6>
                </div>
                <div class="col-sm-6">
                  <p class="m-b-10 f-w-600">Участники</p>
                  <h6 *ngFor="let user of users" class="text-muted f-w-400">
                    <a href="/profile/user/{{user.id}}"
                       class="text-decoration-none">{{user.firstName}} {{user.lastName}}</a>
                    <a style="color: gray; font-size: 13px">  {{user.userRole}} </a>
                    <button mat-mini-fab
                            color="primary"
                            aria-label="Назначить администратором"
                            *ngIf="project.active && isAdmin"
                            (click)="admin(user)"
                            class="icon-button">
                      <mat-icon inline="true">add</mat-icon>
                    </button>

                    <button mat-mini-fab
                            color="primary"
                            aria-label="Исключить из проекта"
                            *ngIf="(project.active && isAdmin) || userId == user.id"
                            (click)="delete(user)"
                            class="icon-button">
                      <mat-icon inline="true">delete</mat-icon>
                    </button>

                    <button mat-mini-fab
                            color="primary"
                            aria-label="Назначить роль"
                            *ngIf="project.active && isAdmin"
                            (click)="openRoleOfUser(user)"
                            class="icon-button">
                      <mat-icon inline="true">create</mat-icon>
                    </button>
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
