<html>
<body>
<div class="d-flex flex-row justify-content-between">
  <div style="margin-top: 10%; width: 35%; margin-left: 15%">
    <h1 style="font-size: 50px; color: #654ea3">
      <strong>Matcher</strong>
    </h1>
    <br>
    <p style="font-size: 25px;" class="text-justify">
      {{description}}
    </p>
    <br>
    <button type="button" style="size: 30px"
            class="btn btn-purple btn-outline-primary btn-lg"
            routerLink="/register">Присоединиться
    </button>
  </div>
  <div style="margin-top: 7%; width: 35%">
    <a href="https://cchgeu.ru/"><img src="../../assets/images/VSTU-logo.png" style="height: 512px;" alt="Home-page"></a>
  </div>
</div>
</body>
