<div class="row">
  <div class="col-md-7 mx-auto">
    <div class="bg-white shadow rounded overflow-hidden">
      <div class="px-4 pt-0 pb-4 cover">
        <div class="media align-items-end profile-head">
          <div class="profile mr-3"><img src="data:{{pictureType}};base64,{{pictureData}}" alt="(Нет фотографии)" width="250"
                                         class="rounded mb-2 img-thumbnail">
            <button (click)="edit()" *ngIf="change" class="btn btn-outline-primary btn-sm btn-block">Изменить профиль</button>
          </div>
          <div class="media-body mb-5 text-white">
            <h1 class="mt-0 mb-1 font-weight-bold">{{user.lastName}} {{user.firstName}} {{user.secondName}}</h1>
            <p class="mb-4 font-weight-bold"><i class="fas fa-map-marker-alt mr-2 "></i>{{user.userType}}</p>
          </div>
        </div>
      </div>
      <div class="bg-light p-4 d-flex justify-content-end text-center">
        <h3 class="mb-0 p-4 font-weight-bold">
          <mat-icon>mail</mat-icon>
          {{user.email}}
        </h3>
        <li class="list-inline-item">
          <h1 class="font-weight-bold mb-0 d-block">Организация</h1>
          <h2 class="text-muted font-weight-bold" *ngFor="let organization of organizations"><i class="fas fa-image mr-1"></i>{{organization.name}}</h2>
        </li>
      </div>
      <div class="py-4 px-4">
        <h1 class="text-dark font-weight-bold">Проекты:</h1>
        <ol class="list-group list-group-numbered">
          <!--          <li class="list-group-item"-->
          <!--              *ngFor="let place of filteredPlace | async">{{place.name}}</li>-->
          <li class="list-group-item">Первый проект</li>
          <li class="list-group-item">Матчер</li>
          <li class="list-group-item">Что-то еще</li>
        </ol>
      </div>
    </div>
  </div>
</div>
