<div *ngIf="isAdmin">
  <h3 style="padding: 10px">Загрузка файлов</h3>
  <hr>
  <div class="inline-elements">
    <form method="POST" enctype="multipart/form-data">
      <button mat-raised-button color="primary" type="button" (click)="fileInput.click()" class="mb-2">
        <span>Выбрать файлы..</span>
        <input style="display:none" #fileInput type="file" multiple="multiple" (change)="onFileInput($event)"/>
      </button>
    </form>
  </div>
  <div class="inline-elements">
    <p *ngIf="file" style="white-space: pre-wrap;">{{fileName}}</p>
  </div>
  <div class="inline-elements">
    <button *ngIf="file && fileName != ''" mat-raised-button color="primary" class="btn btn-small btn-select" (click)="createFile()">Загрузить</button>
  </div>
  <div *ngIf="isError" class="alert alert-danger" role="alert">{{errorMessage}}</div>
  <hr>
</div>
<div class="inline-elements">
  <h3>Файлы </h3>
</div>
<div class="inline-elements">
  <h3 style="color: gray">{{files.length}}</h3>
</div>
<div>
  <ul class="list-group">
    <li class="list-group-item" *ngIf="files.length == 0">
      <p style="font-size: 16px" align="center">У данного проекта пока нет файлов :(</p>
    </li>

    <li class="list-group-item" *ngFor="let file of files">
      <a style="float: left">
        <mat-icon color="primary" class="icon-2x">insert_drive_file</mat-icon>
      </a>
      <a class="text-decoration-none file-layout">{{file.name}}</a>
      <a style="float: right; display: inline-block">
        <button title="Удалить файл" *ngIf="isAdmin" mat-mini-fab color="primary" class="icon-button"
                (click)="deleteFile(data.projectData.id, file.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </a>
      <a style="float: right; display: inline-block; margin-right: 10px">
        <button mat-mini-fab title="Скачать файл" color="primary" class="icon-button"
                (click)="downloadFile(data.projectData.id, file.id, file.name)">
          <mat-icon>save_alt</mat-icon>
        </button>
      </a>
      <p style="font-size: 12px">{{getReadableFileSizeString(file.size)}}, добавлено {{file.createdAt}}</p>
    </li>
  </ul>
</div>
