.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-selection {
  width: 50%;
}

.end-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon {
  transform: scale(2);
}
