<div class="page justify-content-center">
        <mat-card>
          <mat-card-content class="register-card">
              <span>Изменение профиля</span>
            <form [formGroup]="userForm">
              <mat-form-field>
                <mat-label>Имя</mat-label>
                <input formControlName="firstName" matInput/>
                <mat-error *ngIf="userForm.get('firstName')!.hasError('required')">Укажите имя</mat-error>
                <mat-error *ngIf="userForm.get('firstName')!.hasError('maxlength')"
                >Не может быть больше 50 символов
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Фамилия</mat-label>
                <input formControlName="lastName" matInput/>
                <mat-error *ngIf="userForm.get('lastName')!.hasError('required')"
                >Укажите фамилию
                </mat-error>
                <mat-error *ngIf="userForm.get('lastName')!.hasError('maxlength')"
                >Не может быть больше 50 символов
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Отчество</mat-label>
                <input formControlName="secondName" matInput/>
                <mat-error *ngIf="userForm.get('secondName')!.hasError('maxlength')"
                >Не может быть больше 50 символов
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput/>
                <mat-error *ngIf="userForm.get('email')!.hasError('email')"
                >Не соответствует формату электронной почты
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Занятость</mat-label>
                <mat-select formControlName="userType">
                  <mat-option *ngFor="let employment of employments" [value]="employment" (click)="selectNewEmployment()">
                    {{employment}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            <mat-form-field class="mat-form-selection">
              <mat-label>Организация</mat-label>
              <input type="text"
                     placeholder="Выберите организацию"
                     aria-label="Организация"
                     matInput
                     [formControl]="placeCtrl"
                     [matAutocomplete]="auto"/>
              <mat-autocomplete #auto="matAutocomplete" formControlName="place">
                <mat-option *ngFor="let place of filteredPlace | async" [value]="place.name">
                  {{place.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <button mat-flat-button color="primary" type="button" (click)="fileInput.click()">
              <span>Загрузить фотографию</span>
              <input #fileInput type="file" accept="image/*" (change)="onFileInput($event)" style="display:none;" />
            </button>
              <span *ngIf="fileName" class="ml-2">{{fileName}}</span>
            </form>

            <div class="disable-background" *ngIf="loader">
              <div style="display: flex; justify-content: center; align-items: center; margin-top: 20%">
                <mat-spinner></mat-spinner>
              </div>
            </div>

          </mat-card-content>
          <mat-card-actions>
            <button
              [disabled]="!userForm.valid"
              color="primary"
              mat-flat-button
              type="submit"
              style="width: 100%"
              (click)="updateUser(userForm)"
            >
              Сохранить
            </button>
            <br>
            <br>
            <div *ngIf="imgError" class="alert alert-danger" role="alert">
              <p> Этот формат файлов не поддерживается. Вы можете загрузить любое изображение в формате JPG, GIF или PNG.</p>
              <i class="bi bi-exclamation-triangle-fill"></i>
            </div>
          </mat-card-actions>
        </mat-card>
</div>
