.register-card {
  display: flex;
  flex-direction: column;
  width: 100%;
}
mat-form-field {
  width: 100%;
}

.disable-background{
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  bottom: 0;
  background: #2d2d2d;
  opacity: 0.8;
  z-index: 998;
  height: 100%;
  width: 100%;
}

