.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 5px;
}

mat-form-field {
  width: 100%;
}
